*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    width: 50%;
    height: 400px;
    margin: 0 auto;
    border: 2px solid #000;
}

.container > .box{
    width: 120px;
    height: 120px;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
}

.container > .box1{
    background-color: firebrick;
}

.container > .box2{
    background-color: orangered;
}

.container > .box3{
    background-color: sandybrown;
}

.container > .box4{
    background-color: lightgreen;
}

.container > .box5{
    background-color: skyblue;
}